#enhancement_body_background {
    background-image: url("./images/index-topic2.jpg");
}

.enhancements {
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.enhancement-card {
    margin: 10px;
}

.enhancement-card h1 {
    margin: 10px 0px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-style: solid;
    border-color: #2a8f1f;

    background-color: rgba(200, 224, 197, 0.9);
    padding: 13px;
    width: fit-content;
    clear: both;
}

.enhancement-card p {
    font-size: 18px;
    margin: 10px 0px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: #2a8f1f;
    background-color: rgba(200, 224, 197, 0.9);
    padding: 13px;
}