/* 
filename: Group 2 - Node.js - Archer, Ben, Callum, Jack and William
author: Group 2 - Node.js - Archer, Ben, Callum, Jack and William
created: 1 April 2022
last modified: 27 April 2022
description: Enhancements
*/

#enhancement_body_background {
    background-image: url("./images/index-topic.jpg");
}

#enhancement_body_background main h1 {
    font: bolder 40px sans-serif;
    background-color: rgba(35, 35, 35, 0.9);
    padding: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.enhancements {
    max-width: 900px;
    margin: auto;
}

.enhancement-card {
    margin: 15px 30px;
}

.enhancement-card h2 {
    margin: 10px 0px;
    color: #fff;
    border-style: solid;
    border-color: #111111;

    background-color: rgba(35, 35, 35, 0.9);
    padding: 13px;
    width: fit-content;
    clear: both;
}

.enhancement-card p {
    font-size: 18px;
    margin: 10px 0px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    background-color: rgba(35, 35, 35, 0.9);
    padding: 13px;
}