nav .logo {
    height: 100%;
}

nav .logo img {
    position: absolute;
    left: 20px;
    top: 13px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background: #000000;
}

nav ul .selected {
    list-style-type: none;
    /* margin: 1px;
    padding: 0; */
    overflow: hidden;
    background: #82b63e !important;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
}

nav li a:hover:not(.logo) {
    background: #393939;
    text-decoration: none !important;
    color: white;
}