nav {
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

nav .logo {
    height: 100%;
}

nav .logo img {
    position: absolute;
    left: 20px;
    top: 13px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background: #d5e8d3;
}

nav ul .selected {
    list-style-type: none;
    /* margin: 1px;
    padding: 0; */
    overflow: hidden;
    background-color: #82b63e;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
}

nav li a:hover:not(.logo) {
    background-color: #82b63e;
    text-decoration: none !important;
}

nav .mode {
    float: right;
}