/* ----- global ---- */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----- nav ---- */
nav .logo {
    height: 100%;
}

nav .logo img {
    position: absolute;
    left: 20px;
    top: 13px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background: #333333;
}

nav ul .selected {
    list-style-type: none;
    /* margin: 1px;
    padding: 0; */
    overflow: hidden;
    background: #82b63e !important;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
}

nav li a:hover:not(.logo) {
    background: #111111;
    text-decoration: none !important;
    color: white;
}

/* ----- footer ---- */

.footer {
    background-color: #333333;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: italic;
}

footer .footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 3.5rem;
}

footer .footer-heading h1 {
    margin-bottom: 1.5rem;
}

footer .footer-heading a {
    color: #8ba545;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

footer .footer-heading a:hover {
    color: white;
    transition: 0.2s ease-out;
}

footer .footer-email-form h1 {
    margin-bottom: 1.5rem;
}

footer #footer-email {
    width: 240px;
    height: 35px;
    border-radius: 3.5px;
    outline: none;
    border: none;
    padding-left: 0.7rem;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

footer #footer-email::placeholder {
    color: black;
}

footer #footer-email-btn {
    align-content: center;
    background-color: #444444;
    border: none;
    border-radius: 3.5px;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em 0.5em;
    margin-top: 12px;
}

footer #footer-email-btn:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
    background-color: #82b63e;
    color: white;
    text-decoration: none;
}

/* ---- Index page ---- */
#index-introduction {
    background-image: url("../assets/index-topic.jpg");
}

#index-topic {
    background-image: url("../assets/index-introduction.webp");
}

#index-quiz {
    background-image: url("../assets/index-enhancements.jpg");
}

#index-enhancements {
    background-image: url("../assets/index-quiz.jpg");
}

.index {
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.index-anchor {
    color: white;
    text-decoration: none;
}

.index-btn-container {
    padding: 2em;
}

.index-button {
    align-content: center;
    background-color: #444444;
    border: none;
    border-radius: 3.5px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 0.7em 0.5em;
}

.index-button:hover {
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: #82b63e;
    color: white;
    text-decoration: none;
}

.index-heading {
    font-size: 2.75em;
}

.index-links {
    height: 17em;
    padding: 1.5em;
}

.index-description {
    font-size: 1.3em;
}

/* topic page! */
.topic-introduction p {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: 50%;
    float: left;
}

.topic-introduction h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
}

.topic-advantages {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    float: left;
    margin-left: 10%;
}

.topic-growth p {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: 50%;
    position: relative;
    top: 150px;
}

.topic-growth h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    position: relative;
    clear: both;
    top: 150px;
}

.topic-growth figure a img {
    width: 400px;
    height: 510px;
    position: relative;
    bottom: 300px;
    left: 63.5%;
}

.topic-growth figure figcaption {
    position: relative;
    bottom: 300px;
    left: 63.25%;
    margin-right: 20%;
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    clear: both;
}

.topic-competition h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    clear: both;
    position: relative;
    bottom: 275px;
}

.topic-competition p {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: 50%;
    position: relative;
    bottom: 275px;
}

.topic-table h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    clear: both;
    position: relative;
    bottom: 200px;
}

.topic-table table {
    background-color: #333333;
    position: relative;
    bottom: 200px;
    margin-left: 10px;
}

.topic-table tr,
td {
    background-color: #333333;
    color: #fff;
    width: fit-content;
    text-align: left;
    padding: 10px;

}

.topic-table thead tr td {
    background-color: #212121;
    padding: 10px;
    border: 1px solid #212121;
}


#topic_body_background {
    background-image: url("../assets/index-topic.jpg");
}

#topic_body_background h1 {
    font: 25px sans-serif;
}

.topic-definitions {
    clear: both;
    border: #111111 solid;
    background-color: #333333;
    position: relative;
    bottom: 775px;
    left: 1000px;
    width: 25%;
    /* position: absolute;
    top: 1200px;
    right: 200px;
    max-width: 300px;
    bottom: 100px; */
}

.topic-definitions h1 {
    color: #fff;
}

.topic-definitions dl {
    padding: 0.5em;
}

.topic-definitions dt {
    text-align: right;
    font-weight: bold;
    color: #fff;
    width: fit-content;
}

.topic-definitions dd {
    width: fit-content;
    margin-left: 15%;
    color: #fff;
}

.references {
    background-color: #333333;
}

.references p {
    font-size: 10px;
    margin: 10px;
    color: #fff;
    padding: 3px;
    background-color: #333333;
    font-style: italic;
}

.side-navigation {
    width: 30%;
    float: right;
    position: fixed;
    bottom: 300px;
    right: 0%;
    text-decoration-line: none;
    padding: 0.2em 0.6em;
    border: 4px solid #111111;
    text-decoration-color: #ccc;
    background-color: #333333;

}

.side-navigation a:link,
.side-navigation a:visited,
.side-navigation a:hover,
.side-navigationa a:active {
    text-decoration-line: none;
    text-decoration-color: #ccc;
    text-decoration: none;
    color: #ccc;
}

/* ----- quiz page ---- */

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 15px;
}

.mt-1 {
    margin-top: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-3 {
    margin-bottom: 20px;
}

.quiz {
    background: white;
    border: #111111 solid;
    /* margin: 5px; */
    padding: 20px 10px 40px 10px;
}

#quiz-background {
    background-image: url("../assets/index-topic.jpg");
    padding: 20px;
}