/* ----- nav ---- */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav .logo {
    margin: 0px !important;
    padding: 0px !important;
}

nav .logo img {
    padding: 0px 12px 0px 12px;
}

nav a:active,
nav li .selected {
    background-color: yellow;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background: #333333;
}

nav ul .selected {
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: hidden;
    background: #82b63e !important;
}

nav li {
    float: left;
}

nav li a {
    font: 400 20px/1.5 Helvetica, Arial, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 24px;
    text-decoration: none;
}

nav li a:hover {
    background: #111111;
}

/* ----- footer ---- */

footer {
    background-color: #333333;
    padding: 3.5rem 0;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 3.5rem;
    padding-bottom: 10px;
}

.footer-heading h2 {
    margin-bottom: 1.5rem;
}

.footer-heading a {
    color: #8ba545;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.4s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 1.5rem;
}

#footer-email {
    width: 240px;
    height: 35px;
    border-radius: 3.5px;
    outline: none;
    border: none;
    padding-left: 0.7rem;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

#footer-email::placeholder {
    color: black;
}

#footer-email-btn {
    width: 90px;
    height: 35px;
    border-radius: 3.5px;
    background-color: #d31111;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1.5rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: skyblue;
    transition: all 0.5s ease-out;
}

/* ----- footer ---- */

/* fieldset {
letter-spacing: .4px;
border-radius: 0px;
border: 0px!important;
} */

/* ---- Index page ---- */
#index-topic {
    background-image: url("../assets/index-topic.jpg");
}

#index-quiz {
    background-image: url("../assets/index-quiz.jpg");
}

#index-enhancements {
    background-image: url("../assets/index-enhancements.jpg");
}

.index {
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.index-anchor {
	color: white;
	text-decoration: none;
}

.index-btn-container {
    padding: 2em;
}

.index-button {
    align-content: center;
    background-color: #da0000;
    border: none;
    border-radius: 3.5px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 0.7em 0.5em;
}

.index-button:hover {
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: skyblue;
}

.index-heading {
	font-size: 2.75em;
}

.index-links {
    height: 17em;
    padding: 1.5em;
}

.index-description {
	font-size: 1.3em;
}