.topic-introduction p {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: 50%;
    float: left;
}

.topic-introduction h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
}

.topic-advantages {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    float: left;
    margin-left: 10%;
}

.topic-growth p {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: 50%;
    position: relative;
    top: 150px;
}

.topic-growth h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    position: relative;
    clear: both;
    top: 150px;
}

.topic-growth figure a img {
    width: 400px;
    height: 510px;
    position: relative;
    bottom: 300px;
    left: 63.5%;
}

.topic-growth figure figcaption {
    position: relative;
    bottom: 300px;
    left: 63.25%;
    margin-right: 20%;
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    clear: both;
}

.topic-competition h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    clear: both;
    position: relative;
    bottom: 275px;
}

.topic-competition p {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: 50%;
    position: relative;
    bottom: 275px;
}

.topic-table h1 {
    margin: 10px;
    color: #fff;
    border-style: solid;
    border-color: #111111;
    padding: 3px;
    background-color: #333333;
    width: fit-content;
    clear: both;
    position: relative;
    bottom: 200px;
}

.topic-table table {
    background-color: #333333;
    position: relative;
    bottom: 200px;
    margin-left: 10px;
}

.topic-table tr,
td {
    background-color: #333333;
    color: #fff;
    width: fit-content;
    text-align: left;
    padding: 10px;

}

.topic-table thead tr td {
    background-color: #212121;
    padding: 10px;
    border: 1px solid #212121;
}


#topic_body_background {
    background-image: url("../assets/index-topic.jpg");
}

#topic_body_background h1 {
    font: 25px sans-serif;
}

.topic-definitions {
    clear: both;
    border: #111111 solid;
    background-color: #333333;
    position: relative;
    bottom: 775px;
    left: 1000px;
    width: 25%;
    /* position: absolute;
    top: 1200px;
    right: 200px;
    max-width: 300px;
    bottom: 100px; */
}

.topic-definitions h1 {
    color: #fff;
}

.topic-definitions dl {
    padding: 0.5em;
}

.topic-definitions dt {
    text-align: right;
    font-weight: bold;
    color: #fff;
    width: fit-content;
}

.topic-definitions dd {
    width: fit-content;
    margin-left: 15%;
    color: #fff;
}

.references {
    background-color: #333333;
}

.references p {
    font-size: 10px;
    margin: 10px;
    color: #fff;
    padding: 3px;
    background-color: #333333;
    font-style: italic;
}

.side-navigation {
    width: 30%;
    float: right;
    position: fixed;
    bottom: 300px;
    right: 0%;
    text-decoration-line: none;
    padding: 0.2em 0.6em;
    border: 4px solid #111111;
    text-decoration-color: #ccc;
    background-color: #333333;

}

.side-navigation a:link,
.side-navigation a:visited,
.side-navigation a:hover,
.side-navigationa a:active {
    text-decoration-line: none;
    text-decoration-color: #ccc;
    text-decoration: none;
    color: #ccc;
}