/* 
filename: Group 2 - Node.js - Archer, Ben, Callum, Jack and William
author: Group 2 - Node.js - Archer, Ben, Callum, Jack and William
created: 1 April 2022
last modified: 27 April 2022
description: Enhancements - Light
*/

#enhancement_body_background {
    background-image: url("./images/index-topic2.jpg");
}

#enhancement_body_background main h1 {
    font: bolder 40px sans-serif;
    background-color: rgba(200, 224, 197, 0.9);
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.enhancements {
    max-width: 900px;
    margin: auto;
}

.enhancement-card {
    margin: 15px 30px;
}

.enhancement-card h2 {
    margin: 10px 0px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: #2a8f1f;

    background-color: rgba(200, 224, 197, 0.9);
    padding: 13px;
    width: fit-content;
    clear: both;
}

.enhancement-card p {
    font-size: 18px;
    margin: 10px 0px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: #2a8f1f;
    background-color: rgba(200, 224, 197, 0.9);
    padding: 13px;
}

.enhancements img {
    max-width: 500px;
}