/* Page backgrounds */
#queries-background {
    background-image: url("./images/index-topic.jpg");
}

#queries_page_background {
    background-color: #1E1E2E;
    color: white;
}

/* Page heading */
#queries-background h1 {
    font: bolder 40px sans-serif;
    background-color: rgba(35, 35, 35, 0.9);
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* Query box */
.queries {
    max-width: 100%;
    background-color: rgba(35, 35, 35, 0.9);
    color: white;
    border: #111111 solid;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.queries h2 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 14px;
    text-align: center;
    font-weight: bold !important;
}

#query-information {
    float: right;
}

.queries input:not([type="checkbox"]):not([type="radio"]),
.queries select {
    width: 100%;
    height: 2em;
    border: 0;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.button-container input {
    margin-left: 10px;
    margin-right: 10px;
}

.management-page table {
    background-color: rgba(35, 35, 35, 0.9);
    padding: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.management-page tr td {
    padding: 13px;
    color: #fff;
    padding: 10px;
}

.management-page th {
    background-color: rgba(21, 90, 49, 0.827);
}
.management-page td {
    background-color: rgba(90, 90, 90, 0.827);
}

.management-page th,
.management-page td {
    padding: 5px;
}

.management-page {
    width: 100%;
}

.queries label {
    font-size: 18px;
    font-weight: 500;
}
